
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


@import 'Base/var';
@import 'Base/base';
@import 'Modules/section';
@import 'Modules/navbar';
@import 'Modules/jumbotron';
@import 'Modules/featured-video';
@import 'Modules/social-icons';
@import 'Modules/bio';
@import 'Modules/contact';


.listen--container {
  margin: 20px auto;
}

footer {
  p {
    color: $primary-color;
  }
}

 
