
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


@import 'Base/var';
@import 'Base/base';
@import 'Modules/section';
@import 'Modules/navbar';
@import 'Modules/jumbotron';
@import 'Modules/social-icons';
@import 'Modules/bio';
@import 'Modules/contact';


.listen--container {
  max-width: $social-container-width;
  margin: 20px auto;
}

.contact-form {
    margin: 10px auto;
    max-width: $social-container-width;

    textarea {
        min-height: 150px;
        max-width: $social-container-width;
    }
}

footer {
  p {
    color: #fff;
  }
}

 
