$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";


$primary-color: #a0786a;
$secondary-color: #ffbb21;
$foreground-color: #f9b461;
$background-color: #e89d5c;
$another-color: #8f513f;

// Basics of a navbar
$navbar-height:                    50px !default;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2) !default;
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #777 !default;
$navbar-default-bg:                #e0bc81 !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


$main-background-image: "../images/bg.jpg";

$social-container-width: 600px;

$heading: $gray-lighter;


// $icon-border: 1px solid $icon-color;

// Icon hover colors
$facebook: #3b5998;
$facebook-icon: #dfe3ee;
$youtube: #cc181e;
$twitter: #326ada;
$twitter-icon: #d4d8d4;
$soundcloud: #ff3a00;
$instagram: #517fa4;
$envelope: #8B7765;



$navbar-color-1: #bbcbdb;
$navbar-color-2: #9ebd9e;
$navbar-color-3: #dd855c;
$navbar-color-4: #f1e8ca;
$navbar-color-5: #745151;

$navbar-bg: #a47c48;
$navbar-active-bg: darken($navbar-bg, 10%);
$navbar-link-color: #d7c797;
$navbar-active-link-color: darken($navbar-link-color, 10%);

$icon-size: 70px;
$icon-hover-size: $icon-size + 5px;
$icon-font-size: 2em;
$icon-color: #fff;
$icon-bg-color: $navbar-bg;
$icon-hover-color: $gray-darker;


