$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";


$primary-color: #747f83;
$secondary-color: #ffffff;
$background-color: lighten($primary-color, 10%);

$main-background-image: "../images/bg_gray.jpg";

$social-container-width: 600px;

$container-width: 600px;

$heading: $gray-lighter;

// Icon hover colors
$facebook: #3b5998;
$facebook-icon: #dfe3ee;
$youtube: #cc181e;
$twitter: #326ada;
$twitter-icon: #d4d8d4;
$soundcloud: #ff3a00;
$instagram: #517fa4;
$envelope: #8B7765;

$navbar-bg: $primary-color;
$navbar-active-bg: $background-color;
$navbar-link-color: $secondary-color;
$navbar-active-link-color: darken($navbar-link-color, 10%);

$icon-size: 70px;
$icon-hover-size: $icon-size + 5px;
$icon-font-size: 2em;
$icon-color: #fff;
$icon-bg-color: $primary-color;
$icon-hover-color: $gray-darker;



