.contact {
  margin: 50px auto;

  &--form {
    input,
    textarea {
      margin-top: 30px;
      border: 2px solid $primary-color;
      border-radius: 0;     

      &:focus {
        border: 2px solid $background-color;
        box-shadow: none;
      }    
    }

    textarea {
      min-height: 150px;
    }

    label {
      position: absolute;
      margin-left: 10px;
      margin-top: 5px;
      color: $gray;
    }

    .active {
      margin-top: -25px;
      font-size: 0.9em;
      margin-left: 0;
      color: $gray-dark;

      transition: all 0.3s ease-in-out;
    }

  }
}