.jumbotron {
  height: 300px;
  background: url($main-background-image) no-repeat center center fixed;
  background-size: cover;
  position: relative;
  margin-bottom: -175px;

  @media screen and (max-width: $screen-sm) {
    height: 200px;
    margin-bottom: 10px;
  }
}