// Default navbar


.navbar--container {
  @include container-fixed() 
}
.navbar--main {
  transition: all 0.3s ease;      

  background-color: transparent;//$navbar-bg;
  border-radius: 0;
  border: none;
  margin: 0;

  &.scroll {
    background-color: $primary-color;
  }

  .navbar-brand {
    color: $navbar-link-color;
    font-size: 1.5em;
    font-family: 'Gruppo', cursive;
    &:hover,
    &:focus {
      color: $navbar-active-link-color;
      background-color: $navbar-default-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-link-color;
  }

  .navbar-nav {
    > li > a {
      transition: all 0.3s ease;      
      color: $navbar-link-color;

      &:hover,
      &:focus {
        // color: $navbar-active-link-color;
        background-color: $navbar-default-link-hover-bg;
        border-bottom: 2px solid $secondary-color;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        //color: $navbar-active-link-color;
        //background-color: $navbar-active-bg;
        border-bottom: 2px solid $secondary-color;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-link-color;
    border-radius: 0;
    border: none;
    &:hover,
    &:focus {
      background-color: $navbar-active-bg;
    }
    .icon-bar {
      background-color: $navbar-active-link-color;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $secondary-color;
    @media screen and (max-width: $screen-sm) {
      background-color: $primary-color;

    }
    //background-color: $primary-color;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-default-link-active-bg;
        color: $navbar-default-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-default-link-color;
          &:hover,
          &:focus {
            color: $navbar-default-link-hover-color;
            background-color: $navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-active-color;
            background-color: $navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-default-link-disabled-color;
            background-color: $navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }
}