section {
  .section--title {
    color: $navbar-bg;
    text-align: left;
    font-size: 3em;
    font-weight: 400;
    padding-top: 40px;

    border-bottom: 3px solid $navbar-active-bg;
    margin-bottom: 20px;
  }
}