// Mixin
@mixin social-icon-hover-bg($social-color, $color: #fff) {
    background-color: $social-color;
        border-color: $social-color;
               color: $color;
}

.social-icons {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
  margin: -410px -100px 0 0;

  &.affix {
    right: 116px;
    top:100px;
    margin: 0;

  }


  .icon {
    // border: $icon-border;
    flex: 80px 80px $icon-hover-size;
    align-self: flex-end;
    flex-shrink: 2;
    border-radius: 50%;
    height: $icon-size;
    width: $icon-size;

    margin: 5px;
    
    color: $icon-color;
    text-align: center;
    vertical-align: middle;
    line-height: $icon-size;
    font-size: $icon-font-size;
    background-color: $icon-bg-color;
    opacity: 0;
    transform: translateX(-50px);
    transform: rotate(-50deg);
    
    transition: all 0.3s ease-in-out;

    &.show {
      transform: translateX(0px);
      opacity: 1;
    }

    &:hover {
        transform: scale(1.1);
        color: $icon-hover-color; 
    }
        
    &.facebook:hover {
      @include social-icon-hover-bg($facebook, $facebook-icon)
    }
    
    &.youtube:hover {
      @include social-icon-hover-bg($youtube)
    }
    
    &.twitter:hover {
      @include social-icon-hover-bg($twitter, $twitter-icon)
    }
    
    &.soundcloud:hover {
      @include social-icon-hover-bg($soundcloud)
    }
    
    &.instagram:hover {
      @include social-icon-hover-bg($instagram)
    }
       
  }

  @media screen and (max-width: $screen-sm) {
    .icon {
      height: $icon-size / 1.5;
      width: $icon-size / 1.5;
      font-size: 1.5em;
      line-height: $icon-size / 1.5;
    }
  }
  @media screen and (max-width: 1130px) {
    &.affix {
      right: 50px;
      top:100px;
      margin: 0;
    }  
  }
  @media screen and (max-width: 1130px) {
    &.affix {
      right: 10px;
      top:100px;
      margin: 0;
    }  
  }

  @media screen and (max-width: 900px) {
      position: static;
      flex-direction: row;
      margin: 0 auto;
      right: 0;
      left: 0;

      &.affix {
        position: fixed;
        z-index: 1000;
        bottom:10px;
        right: 0;
        left: 0;
      }
  }

  

}